<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <%= render 'users/info', user: @user %>
      <h2>New Book</h2>
      <%= render 'books/form', book: @book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Books detail</h2>
      <table class="table">
        <tr>
          <td>
            <%= link_to user_path(@user) do %>
              <%= image_tag @user.get_profile_image(100, 100) %>
              <%= @user.name %>
            <% end %>
          </td>
          <td><%= @user.book.name, book_path(@user.book.id) %></td>
          <td><%= @user.book.opinion %></td>
        </tr>
      </table>
    </div>
  </div>
</div>